<mat-icon>home</mat-icon>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form [formGroup]="loginForm" action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" (click)="tryFacebookLogin()" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" (click)="tryGoogleLogin()" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" (click)="tryTwitterLogin()" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <div class="form-group">
                <input type="email" formControlName="email" placeholder="Email">
                <input type="password" formControlName="password" placeholder="Password">
                <label class="error">{{errorMessage}}</label>
                <label class="success">{{successMessage}}</label>
            </div>
            <button type="submit" (click)="tryRegister(loginForm.value)">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form [formGroup]="loginForm" action="#">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" (click)="tryFacebookLogin()" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" (click)="tryGoogleLogin()" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" (click)="tryTwitterLogin()" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email" formControlName="email" placeholder="Email" />
            <input type="password" formControlName="password" placeholder="Password" />
            <a (click)="forgottenPassword()">Forgot your password?</a>
            <button type="submit" (click)="tryLogin(loginForm.value)">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
    <!-- <div class="overlay-container-vertical">
        <div class="overlay-vertical">
            <div class="overlay-panel-vertical overlay-up">
                <h1>Passwoed forgotten!</h1>
                <p>Enter your email to recover your password</p>
                <button class="ghost" id="forgottenPassword">Forgot your password?</button>
            </div>

        </div>
    </div> -->
</div>

<footer>
</footer>