<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  eHealth - Pacient management system
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon">account_circle</mat-icon>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened
  >
    <mat-list id="menus">
      <mat-card class="sidenav-content">
        <mat-nav-list class="nav-hide-o-scroll">
          <mat-card-header class="sidenav-content-header">
            <img mat-card-avatar [src]="profilePictureUrl" />
            <mat-card-title ng-show="name != null">{{ name }}</mat-card-title>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-list-item>
            <button class="menu-item" mat-flat-button routerLink="dashboard">
              <mat-icon class="sidenav-content-rmpadding">dashboard</mat-icon>
              Dashboard
            </button>
          </mat-list-item>
          <mat-list-item>
            <button class="menu-item" mat-flat-button routerLink="appointments">
              <mat-icon class="sidenav-content-rmpadding">alarm</mat-icon>
              Appointments
            </button>
          </mat-list-item>
          <mat-list-item>
            <button class="menu-item" mat-flat-button routerLink="calendar">
              <mat-icon class="sidenav-content-rmpadding">event_note</mat-icon>
              Calendar
            </button>
          </mat-list-item>
          <mat-list-item>
            <button class="menu-item" mat-flat-button routerLink="pacients">
              <mat-icon class="sidenav-content-rmpadding">people_alt</mat-icon>
              Pacients
            </button>
          </mat-list-item>

          <mat-list-item>
            <button
              class="menu-item"
              mat-flat-button
              routerLink="list-specialists"
            >
              <mat-icon class="sidenav-content-rmpadding">people_alt</mat-icon>
              Specialists
            </button>
          </mat-list-item>
          <mat-list-item>
            <button class="menu-item" mat-flat-button routerLink="edit-profile">
              <mat-icon class="sidenav-content-rmpadding"
                >perm_identity</mat-icon
              >
              My profile
            </button>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <button class="menu-item" (click)="logout()" mat-flat-button>
              <mat-icon class="sidenav-content-rmpadding"
                >power_settings_new</mat-icon
              >
              Log out
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </mat-list>
    <!-- <mat-nav-list>
            <a mat-list-item routerLink='first'>First Component</a>
            <a mat-list-item routerLink='second'>Second Component</a>
            <a mat-list-item routerLink='user'>User Component</a>
        </mat-nav-list> -->
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <mat-selection-list class="dash-list">
      <router-outlet></router-outlet>
    </mat-selection-list>
  </mat-sidenav-content>
</mat-sidenav-container>
